In [1]:
# Initial imports.
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Loading data
file_path = Path("Machine Learning CSVs/encoded_loans_df.csv")
df_business = pd.read_csv(file_path, index_col="LoanNumber")
df_business

,BorrowerZip,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,JobsReported,ForgivenessAmount,rating,review_count,lat,...,MonthApproved_1,MonthApproved_2,MonthApproved_3,MonthApproved_4,MonthApproved_5,MonthApproved_6,MonthApproved_7,MonthApproved_8,YearApproved_2020,YearApproved_2021
LoanNumber,,,,,,,,,,,,,,,,,,,,,
8728957203,80202,Paid in Full,24,7275742.0,7275742.0,500.0,7356987.79,1.5,7,39.754760,...,0,0,0,1,0,0,0,0,1,0
9826177105,80204,Paid in Full,24,5865500.0,5865500.0,391.0,5943869.60,2.5,3,39.737240,...,0,0,0,1,0,0,0,0,1,0
2089597208,80202,Paid in Full,24,5114560.0,5114560.0,227.0,5173803.65,3.0,2,39.751680,...,0,0,0,1,0,0,0,0,1,0
8574487102,80230,Paid in Full,24,3527000.0,3527000.0,249.0,3573732.75,1.0,4,39.717893,...,0,0,0,1,0,0,0,0,1,0
7218167001,80216,Exemption 4,60,3230500.0,3230500.0,500.0,971592.57,1.0,1,39.771974,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7810438506,80222,Exemption 4,60,1327.0,1327.0,1.0,NaN,5.0,9,39.675860,...,0,0,1,0,0,0,0,0,0,1
2773518503,80237,Paid in Full,60,1000.0,1000.0,1.0,1009.84,5.0,5,39.598190,...,0,1,0,0,0,0,0,0,0,1
4250667310,80237,Paid in Full,24,1000.0,1000.0,1.0,1008.25,5.0,5,39.598190,...,0,0,0,1,0,0,0,0,1,0
5634797307,80209,Paid in Full,24,513.0,513.0,1.0,517.42,5.0,3,39.705286,...,0,0,0,1,0,0,0,0,1,0
3616317801,80205,Paid in Full,24,500.0,500.0,1.0,504.65,5.0,1,39.757173,...,0,0,0,0,1,0,0,0,1,0

In [3]:
# Encode LoanStatus column
le = LabelEncoder()
df_encode = df_business.copy()
df_encode['LoanStatus'] = le.fit_transform(df_encode['LoanStatus'])
df_encode

,BorrowerZip,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,JobsReported,ForgivenessAmount,rating,review_count,lat,...,MonthApproved_1,MonthApproved_2,MonthApproved_3,MonthApproved_4,MonthApproved_5,MonthApproved_6,MonthApproved_7,MonthApproved_8,YearApproved_2020,YearApproved_2021
LoanNumber,,,,,,,,,,,,,,,,,,,,,
8728957203,80202,1,24,7275742.0,7275742.0,500.0,7356987.79,1.5,7,39.754760,...,0,0,0,1,0,0,0,0,1,0
9826177105,80204,1,24,5865500.0,5865500.0,391.0,5943869.60,2.5,3,39.737240,...,0,0,0,1,0,0,0,0,1,0
2089597208,80202,1,24,5114560.0,5114560.0,227.0,5173803.65,3.0,2,39.751680,...,0,0,0,1,0,0,0,0,1,0
8574487102,80230,1,24,3527000.0,3527000.0,249.0,3573732.75,1.0,4,39.717893,...,0,0,0,1,0,0,0,0,1,0
7218167001,80216,0,60,3230500.0,3230500.0,500.0,971592.57,1.0,1,39.771974,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7810438506,80222,0,60,1327.0,1327.0,1.0,NaN,5.0,9,39.675860,...,0,0,1,0,0,0,0,0,0,1
2773518503,80237,1,60,1000.0,1000.0,1.0,1009.84,5.0,5,39.598190,...,0,1,0,0,0,0,0,0,0,1
4250667310,80237,1,24,1000.0,1000.0,1.0,1008.25,5.0,5,39.598190,...,0,0,0,1,0,0,0,0,1,0
5634797307,80209,1,24,513.0,513.0,1.0,517.42,5.0,3,39.705286,...,0,0,0,1,0,0,0,0,1,0
3616317801,80205,1,24,500.0,500.0,1.0,504.65,5.0,1,39.757173,...,0,0,0,0,1,0,0,0,1,0

In [4]:
df_encode.dtypes

BorrowerZip                                                   int64
LoanStatus                                                    int64
Term                                                          int64
InitialApprovalAmount                                       float64
CurrentApprovalAmount                                       float64
JobsReported                                                float64
ForgivenessAmount                                           float64
rating                                                      float64
review_count                                                  int64
lat                                                         float64
lon                                                         float64
BusinessAgeDescription_Existing or more than 2 years old      int64
BusinessAgeDescription_New Business or 2 years or less        int64
CD_CO-01                                                      int64
CD_CO-06                                                      int64
CD_CO-07                                                      int64
BusinessType_501(c)6 – Non Profit Membership                  int64
BusinessType_Cooperative                                      int64
BusinessType_Corporation                                      int64
BusinessType_Limited  Liability Company(LLC)                  int64
BusinessType_Limited Liability Partnership                    int64
BusinessType_Non-Profit Organization                          int64
BusinessType_Partnership                                      int64
BusinessType_Professional Association                         int64
BusinessType_Self-Employed Individuals                        int64
BusinessType_Single Member LLC                                int64
BusinessType_Sole Proprietorship                              int64
BusinessType_Subchapter S Corporation                         int64
Yelp_Category_Fashion                                         int64
Yelp_Category_Financial Services                              int64
Yelp_Category_Hair Salon                                      int64
Yelp_Category_Health                                          int64
Yelp_Category_Professional Services                           int64
Yelp_Category_Real Estate                                     int64
Yelp_Category_Restaurants                                     int64
Yelp_Category_Transport                                       int64
MonthApproved_1                                               int64
MonthApproved_2                                               int64
MonthApproved_3                                               int64
MonthApproved_4                                               int64
MonthApproved_5                                               int64
MonthApproved_6                                               int64
MonthApproved_7                                               int64
MonthApproved_8                                               int64
YearApproved_2020                                             int64
YearApproved_2021                                             int64
dtype: object

In [5]:
# looking for null values
df_encode.isna().sum()

BorrowerZip                                                  0
LoanStatus                                                   0
Term                                                         0
InitialApprovalAmount                                        0
CurrentApprovalAmount                                        0
JobsReported                                                 0
ForgivenessAmount                                           87
rating                                                       0
review_count                                                 0
lat                                                          0
lon                                                          0
BusinessAgeDescription_Existing or more than 2 years old     0
BusinessAgeDescription_New Business or 2 years or less       0
CD_CO-01                                                     0
CD_CO-06                                                     0
CD_CO-07                                                     0
BusinessType_501(c)6 – Non Profit Membership                 0
BusinessType_Cooperative                                     0
BusinessType_Corporation                                     0
BusinessType_Limited  Liability Company(LLC)                 0
BusinessType_Limited Liability Partnership                   0
BusinessType_Non-Profit Organization                         0
BusinessType_Partnership                                     0
BusinessType_Professional Association                        0
BusinessType_Self-Employed Individuals                       0
BusinessType_Single Member LLC                               0
BusinessType_Sole Proprietorship                             0
BusinessType_Subchapter S Corporation                        0
Yelp_Category_Fashion                                        0
Yelp_Category_Financial Services                             0
Yelp_Category_Hair Salon                                     0
Yelp_Category_Health                                         0
Yelp_Category_Professional Services                          0
Yelp_Category_Real Estate                                    0
Yelp_Category_Restaurants                                    0
Yelp_Category_Transport                                      0
MonthApproved_1                                              0
MonthApproved_2                                              0
MonthApproved_3                                              0
MonthApproved_4                                              0
MonthApproved_5                                              0
MonthApproved_6                                              0
MonthApproved_7                                              0
MonthApproved_8                                              0
YearApproved_2020                                            0
YearApproved_2021                                            0
dtype: int64

In [6]:
# drop ForgivenessAmount column
df_encode = df_encode.drop('ForgivenessAmount', axis = 1)
df_encode = df_encode.drop('CurrentApprovalAmount', axis = 1)
df_encode

,BorrowerZip,LoanStatus,Term,InitialApprovalAmount,JobsReported,rating,review_count,lat,lon,BusinessAgeDescription_Existing or more than 2 years old,...,MonthApproved_1,MonthApproved_2,MonthApproved_3,MonthApproved_4,MonthApproved_5,MonthApproved_6,MonthApproved_7,MonthApproved_8,YearApproved_2020,YearApproved_2021
LoanNumber,,,,,,,,,,,,,,,,,,,,,
8728957203,80202,1,24,7275742.0,500.0,1.5,7,39.754760,-104.997910,1,...,0,0,0,1,0,0,0,0,1,0
9826177105,80204,1,24,5865500.0,391.0,2.5,3,39.737240,-105.008310,1,...,0,0,0,1,0,0,0,0,1,0
2089597208,80202,1,24,5114560.0,227.0,3.0,2,39.751680,-104.998950,1,...,0,0,0,1,0,0,0,0,1,0
8574487102,80230,1,24,3527000.0,249.0,1.0,4,39.717893,-104.895233,1,...,0,0,0,1,0,0,0,0,1,0
7218167001,80216,0,60,3230500.0,500.0,1.0,1,39.771974,-104.995255,1,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7810438506,80222,0,60,1327.0,1.0,5.0,9,39.675860,-104.922090,1,...,0,0,1,0,0,0,0,0,0,1
2773518503,80237,1,60,1000.0,1.0,5.0,5,39.598190,-104.903560,1,...,0,1,0,0,0,0,0,0,0,1
4250667310,80237,1,24,1000.0,1.0,5.0,5,39.598190,-104.903560,1,...,0,0,0,1,0,0,0,0,1,0
5634797307,80209,1,24,513.0,1.0,5.0,3,39.705286,-104.941672,1,...,0,0,0,1,0,0,0,0,1,0
3616317801,80205,1,24,500.0,1.0,5.0,1,39.757173,-104.946819,1,...,0,0,0,0,1,0,0,0,1,0

In [7]:
# Define features set
X = df_encode.copy()
X = X.drop("LoanStatus", axis=1)
X

,BorrowerZip,Term,InitialApprovalAmount,JobsReported,rating,review_count,lat,lon,BusinessAgeDescription_Existing or more than 2 years old,BusinessAgeDescription_New Business or 2 years or less,...,MonthApproved_1,MonthApproved_2,MonthApproved_3,MonthApproved_4,MonthApproved_5,MonthApproved_6,MonthApproved_7,MonthApproved_8,YearApproved_2020,YearApproved_2021
LoanNumber,,,,,,,,,,,,,,,,,,,,,
8728957203,80202,24,7275742.0,500.0,1.5,7,39.754760,-104.997910,1,0,...,0,0,0,1,0,0,0,0,1,0
9826177105,80204,24,5865500.0,391.0,2.5,3,39.737240,-105.008310,1,0,...,0,0,0,1,0,0,0,0,1,0
2089597208,80202,24,5114560.0,227.0,3.0,2,39.751680,-104.998950,1,0,...,0,0,0,1,0,0,0,0,1,0
8574487102,80230,24,3527000.0,249.0,1.0,4,39.717893,-104.895233,1,0,...,0,0,0,1,0,0,0,0,1,0
7218167001,80216,60,3230500.0,500.0,1.0,1,39.771974,-104.995255,1,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7810438506,80222,60,1327.0,1.0,5.0,9,39.675860,-104.922090,1,0,...,0,0,1,0,0,0,0,0,0,1
2773518503,80237,60,1000.0,1.0,5.0,5,39.598190,-104.903560,1,0,...,0,1,0,0,0,0,0,0,0,1
4250667310,80237,24,1000.0,1.0,5.0,5,39.598190,-104.903560,1,0,...,0,0,0,1,0,0,0,0,1,0
5634797307,80209,24,513.0,1.0,5.0,3,39.705286,-104.941672,1,0,...,0,0,0,1,0,0,0,0,1,0
3616317801,80205,24,500.0,1.0,5.0,1,39.757173,-104.946819,1,0,...,0,0,0,0,1,0,0,0,1,0

In [8]:
# Define target vector
y = df_encode["LoanStatus"].ravel()
y[:5]

array([1, 1, 1, 1, 0])

In [9]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [10]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [11]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [12]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Fitting the Random Forest Model

In [13]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=100, random_state=1)

In [14]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

## Making Predictions Using the Tree Model

In [15]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)
predictions

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

## Model Evaluation

In [16]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0 - Exemption 4", "Actual 1 - Paid in Full"], columns=["Predicted 0 - Exemption 4", "Predicted 1 - Paid in Full"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [17]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

                         Predicted 0 - Exemption 4  Predicted 1 - Paid in Full
Actual 0 - Exemption 4                           1                          29
Actual 1 - Paid in Full                          2                         292

Accuracy Score : 0.904320987654321
Classification Report
              precision    recall  f1-score   support

           0       0.33      0.03      0.06        30
           1       0.91      0.99      0.95       294

    accuracy                           0.90       324
   macro avg       0.62      0.51      0.51       324
weighted avg       0.86      0.90      0.87       324

## Rank the Importance of Features

In [18]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([7.96368011e-02, 3.98688925e-02, 1.39811251e-01, 8.16220739e-02,
       4.77152892e-02, 9.89383367e-02, 1.00331896e-01, 1.16896982e-01,
       1.90135198e-03, 3.15775321e-03, 6.85432487e-03, 3.22169613e-03,
       5.55536444e-03, 0.00000000e+00, 0.00000000e+00, 1.48205375e-02,
       1.68161892e-02, 3.72173736e-05, 1.02779843e-02, 4.28846660e-03,
       1.25311046e-07, 5.06635142e-03, 2.63264366e-03, 4.29064015e-03,
       9.70516449e-03, 8.19734152e-03, 3.01843146e-03, 7.42335080e-03,
       1.28921061e-02, 1.45997773e-02, 6.65400671e-03, 1.95326234e-02,
       2.05040766e-03, 1.49039842e-02, 1.73690250e-02, 1.45738901e-02,
       1.67528749e-02, 9.47021836e-03, 1.77653665e-03, 3.19596082e-04,
       5.82518017e-04, 3.02358612e-02, 2.62001178e-02])

In [19]:
# sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.1398112505293245, 'InitialApprovalAmount'),
 (0.11689698218513742, 'lon'),
 (0.10033189608585644, 'lat'),
 (0.09893833674072422, 'review_count'),
 (0.081622073940573, 'JobsReported'),
 (0.07963680108579438, 'BorrowerZip'),
 (0.047715289182162085, 'rating'),
 (0.03986889245761689, 'Term'),
 (0.030235861175568694, 'YearApproved_2020'),
 (0.026200117839510654, 'YearApproved_2021'),
 (0.01953262341931997, 'Yelp_Category_Restaurants'),
 (0.017369024951404615, 'MonthApproved_2'),
 (0.016816189164430385, 'BusinessType_Limited  Liability Company(LLC)'),
 (0.016752874884100825, 'MonthApproved_4'),
 (0.014903984188342408, 'MonthApproved_1'),
 (0.014820537538823586, 'BusinessType_Corporation'),
 (0.014599777299349645, 'Yelp_Category_Professional Services'),
 (0.014573890064732024, 'MonthApproved_3'),
 (0.0128921060604069, 'Yelp_Category_Health'),
 (0.010277984307882073, 'BusinessType_Non-Profit Organization'),
 (0.009705164486872765, 'BusinessType_Subchapter S Corporation'),
 (0.0094702183589836, 'MonthApproved_5'),
 (0.008197341521198368, 'Yelp_Category_Fashion'),
 (0.007423350797518, 'Yelp_Category_Hair Salon'),
 (0.006854324870830316, 'CD_CO-01'),
 (0.006654006708715132, 'Yelp_Category_Real Estate'),
 (0.005555364444309432, 'CD_CO-07'),
 (0.0050663514196072545, 'BusinessType_Self-Employed Individuals'),
 (0.004290640151556354, 'BusinessType_Sole Proprietorship'),
 (0.004288466596419031, 'BusinessType_Partnership'),
 (0.003221696126165426, 'CD_CO-06'),
 (0.0031577532111436253,
  'BusinessAgeDescription_New Business or 2 years or less'),
 (0.0030184314604114913, 'Yelp_Category_Financial Services'),
 (0.0026326436649575994, 'BusinessType_Single Member LLC'),
 (0.0020504076629578945, 'Yelp_Category_Transport'),
 (0.0019013519816162726,
  'BusinessAgeDescription_Existing or more than 2 years old'),
 (0.0017765366527677498, 'MonthApproved_6'),
 (0.0005825180166300339, 'MonthApproved_8'),
 (0.000319596081632815, 'MonthApproved_7'),
 (3.721737360007887e-05, 'BusinessType_Limited Liability Partnership'),
 (1.2531104600554697e-07, 'BusinessType_Professional Association'),
 (0.0, 'BusinessType_Cooperative'),
 (0.0, 'BusinessType_501(c)6 – Non Profit Membership')]